@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Karla:wght@300;400;500;600;700;800&family=Poor+Story&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;
}

body{
    font-family: 'Karla', sans-serif;
    background-color: #ebebe6;
}

.main-container-landing{
    position: relative;
    min-height: 800px;
    width: 80vw;
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(/blueBlob.png) no-repeat left bottom,url(/yelloBlob.png) no-repeat top right;
    background-color: #ebebe6;
    gap: 7px;
    padding: 30px 70px;
    box-shadow: 0px 0px 30px -5px rgb(0 0 0);
    border-radius: 1rem;
}
.landing-page{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;
}
.title{
    font-weight: 700;
    font-size: 40px;
    line-height: 37px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;

}
.description{
    font-size: 21px;
    line-height: 19px;
    text-align: center;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    width: 50vw;
    font-weight: 500;
    margin-bottom: 2rem;
}
.start-quiz{
    width: 168px;
    height: 44px;
    background: #4D5B9E;
    border-radius: 15px;
    margin-top: 1.7rem;
    border: none;
    outline: none;
    cursor: pointer;
    color: #F5F7FB;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.start-quiz:hover{
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 30);
}

.question{
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
    color: #293264;
}

.ansBtn{
    background: #D6DBF5;
    min-width: 4rem;
    border-radius: 8px;
    font-weight: 600;
    font-size: 10.24px;
    line-height: 8px;
    text-align: center;
    color: #293264;
    border: 1px solid #4D5B9E;
    outline: none;
    cursor: pointer;
    padding: 9px 14px;
    margin: 15px 15px 15px 0;
    transition: 200ms ease;
}
.ansBtn:hover{
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 30);
}

.line{
    width: 460px;
    height: 0px;
    border: 0.794239px solid #DBDEF0;
    transform: rotate(-0.05deg);
}

.check-ans{
    border-radius: 10px;
    width: 150px;
    height: 44px;
    font-weight: 600;
    font-size: 12.24px;
    line-height: 12px;
    text-align: center;
    color: #f5f7fb;
    background: #4D5B9E;
    
}
.endBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 25px;
}
.ques-container{
    margin: 1rem 0;
}
.home{
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
}
.home :hover{
    font-size: 2.2rem;
    transition: 300ms ease;
    cursor: pointer;
}

.custom-select{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    font-family: 'Karla', sans-serif;
    
}
.select{
    width: 15.9rem;
    height: 2.2rem;
    font-weight: 600;
    border-radius: .2rem;
    background-color: #4D5B9E;
    color: white;
    padding: 7px;
    outline: none;
}
input{
    background-color: transparent;
    border: 0px solid;
}

.footer{
    position: absolute;
    bottom: 2rem;
    font-weight: 600;
    padding: 1rem;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #root{
        margin: 2rem 0;
        width: 100vw;
    }
    .main-container-landing{
        padding: 5px 5px;
    }
    .ques-container{
        width: 70vw;
        padding-top: 1.3rem;
    }
    .question{
        font-size: 20px;
    }
    .home{
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 2rem;
    }
    .line{
        width: 70vw;
    }

  }